.container {
  width: 100%;
}
#customBox {
  border: 1px solid black;
  border-radius: 5px;
  float:left;
  margin-left: 100px;
  margin-right: 5%;
  margin-top: 100px;
  padding: 50px;
  width: 35%;
}
.userDetails {
  border: 1px solid black;
  border-radius: 5px;
  background-color: olive;
  display:none;
  float:left;
  margin-top: 100px;
  padding: 5px;
}

.margin {
  margin-bottom: 2%;
}
.marginRight {
  margin-right: 18%;

}
.size {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
.border {
  border-radius: 10px;
  width: 40%;
}
hr {
  margin-bottom: 10%;
}
.secondDiv {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #efefef;
  display:none;
  margin-left: 500px;
  margin-top: -450px;
  position: absolute;
  padding: 50px;
  width: 300px;
  z-index: 2;
}
.td {
  width: 500px;
}
#ok {
  font-family: sans-serif fantasy;
  text-transform: uppercase;
  text-decoration: underline;
  width: 100px;
}
